<a href="https://colab.research.google.com/github/leonaardobrito/data-mining/blob/main/Exemplo_Regress%C3%A3o_Linear_Multivariada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Exemplo Regressão Linear Multivariada - Conjunto de dados: Consumo de gasolina
Disciplina de Data Mining - INE5644

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

###Carrega o conjunto de dados

In [ ]:
url = "https://codigos.ufsc.br/jonata.tyska/repositorio/-/raw/master/datasets/petrol_consumption.csv"

# Read dataset to pandas dataframe
dataset = pd.read_csv(url)

dataset.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [ ]:
dataset.describe()

       Petrol_tax  ...  Petrol_Consumption
count   48.000000  ...           48.000000
mean     7.668333  ...          576.770833
std      0.950770  ...          111.885816
min      5.000000  ...          344.000000
25%      7.000000  ...          509.500000
50%      7.500000  ...          568.500000
75%      8.125000  ...          632.750000
max     10.000000  ...          968.000000

[8 rows x 5 columns]

In [ ]:
#separa em atributos (X) e variável alvo (y)
X = dataset[['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence(%)']]
y = dataset['Petrol_Consumption']

In [ ]:
#divide em treino e teste
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [ ]:
#cria o modelo
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
##ver coeficientes de correlação - lembrando que y = wx - e estamos vendo w
coeff_df = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
coeff_df

                              Coefficient
Petrol_tax                     -42.736749
Average_income                  -0.071840
Paved_Highways                  -0.005937
Population_Driver_licence(%)  1329.987662

In [ ]:
#realiza predições
y_pred = model.predict(X_test)
#mostra predições x valores reais
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

    Actual   Predicted
29     534  472.118636
4      410  550.406182
26     577  594.549140
30     571  574.651279
32     577  655.427644
37     704  649.714981
34     487  518.977453
40     587  673.625435
7      467  500.013247
10     580  499.658004
11     471  412.608452
31     554  591.902763

In [ ]:
#verifica diferentes métricas de avaliação
from sklearn import metrics
print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error (MSE):', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error (RMSE):', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Determination Coefficient (R^2)', metrics.r2_score(y_test, y_pred))
print('Mean Absolute Percentage Error (MAPE)', metrics.mean_absolute_percentage_error(y_test, y_pred))

Mean Absolute Error (MAE): 57.03775571483457
Mean Squared Error (MSE): 4489.974028440692
Root Mean Squared Error (RMSE): 67.00726847470125
Determination Coefficient (R^2) 0.1621652223270218
Mean Absolute Percentage Error (MAPE) 0.11025137896407512

baseado no exemplo apresentado em: https://stackabuse.com/linear-regression-in-python-with-scikit-learn/

### Exemplo de uso de cross-validation
ver documentação do sklearn em https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html
possibilidades de scoring parameters: https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [ ]:
from sklearn.model_selection import cross_val_score
cv_5_results = cross_val_score(model, X, y, cv=5, scoring="r2")
print(cv_5_results)
print(cv_5_results.mean())

[-0.22573437  0.62535306 -0.08289785 -0.16796305  0.30273973]
0.0902995024068749