<a href="https://colab.research.google.com/github/leonaardobrito/data-mining/blob/main/ExemploRegress%C3%A3o_Log%C3%ADstica_diabetes_completo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Exemplo Regressão Logística - Conjunto de dados: Diabetes Completo
Disciplina de Data Mining - INE5644

## Carrega o conjunto de dados
mais informações em https://www.kaggle.com/uciml/pima-indians-diabetes-database#

In [ ]:
import pandas as pd

url = "https://codigos.ufsc.br/jonata.tyska/repositorio/-/raw/master/datasets/diabetes-complete.csv"

# Read dataset to pandas dataframe
df = pd.read_csv(url)

df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
#divide os dados
attr = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness','BMI','DiabetesPedigreeFunction','Age']
X = df[attr] # atributos
y = df.Outcome # variável alvo

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=0)

In [ ]:
#treina o modelo
from sklearn.linear_model import LogisticRegression

model= LogisticRegression()
model.fit(X_train,y_train)

y_pred=model.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[70  8]
 [13 25]]
              precision    recall  f1-score   support

           0       0.84      0.90      0.87        78
           1       0.76      0.66      0.70        38

    accuracy                           0.82       116
   macro avg       0.80      0.78      0.79       116
weighted avg       0.82      0.82      0.82       116