<a href="https://colab.research.google.com/github/leonaardobrito/data-mining/blob/main/Exemplo_Na%C3%AFve_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Exemplo Naïve Bayes - Gaussiano - Detecção de diabetes
Disciplina de Data Mining - INE5644 - 2020.1

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

###Carrega o conjunto de dados

In [ ]:
url = "https://codigos.ufsc.br/jonata.tyska/repositorio/-/raw/master/datasets/diabete.csv"

# Read dataset to pandas dataframe
dataset = pd.read_csv(url)

dataset.head()

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1

In [ ]:
dataset.describe()

          glucose  bloodpressure    diabetes
count  995.000000     995.000000  995.000000
mean    44.306533      79.184925    0.500503
std      6.707567       9.340204    0.500251
min     20.000000      50.000000    0.000000
25%     40.000000      72.000000    0.000000
50%     45.000000      80.000000    1.000000
75%     50.000000      87.000000    1.000000
max     70.000000     100.000000    1.000000

In [ ]:
X = dataset.drop('diabetes',axis=1)
y = dataset['diabetes']

###Divide em treino e teste

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=500,stratify=y)

### Constrói o modelo

In [ ]:
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

###Realiza a predição

In [ ]:
y_pred = model.predict(X_test)

###Avaliação do modelo

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[93  6]
 [ 6 94]]
              precision    recall  f1-score   support

           0       0.94      0.94      0.94        99
           1       0.94      0.94      0.94       100

    accuracy                           0.94       199
   macro avg       0.94      0.94      0.94       199
weighted avg       0.94      0.94      0.94       199

baseado no exemplo apresentado em: https://heartbeat.fritz.ai/naive-bayes-classifier-in-python-using-scikit-learn-13c4deb83bcf